body {
    background-color: lightgray;

}
h3 {
    text-align: center;
}
.card-body {
    color: black;
}
.btn.btn-link.collapsed  {
    text-decoration: none;
    color: gray;
}
.btn.btn-link.collapsed:hover  {
    text-decoration: none;
    color: red;
}
.btn.btn-link.collapsed:hover {
    text-decoration: none;
    color: red;
}
.btn-link {
    font-weight: 400;
    color: red;
    background-color: transparent;
    text-decoration: none;
}
.btn-link:hover {
    color: red;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
}
.card-header {
    background-color: lightgray;
}
button {
    text-decoration: none;
}
.carousel-control-next-icon {
    background-image: url(../imagens/Image-Arrow-.png);
    height: 5em;
    width: 5em;
}
.carousel-control-prev-icon {
    background-image: url(../imagens/Image-Arrow-PNG.png);
    height: 5em;
    width: 5em;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
header {
    background-color: darkblue;
}
p {
    margin: 15px;
    text-align: justify;
}
button[type=submit] {
    color: red;
    background-color: transparent;
    background-image: none;
    border-color: red;
}
button[type=submit]:hover{
    color: white;
    background-color:red;
    background-image: none;
    border-color: red;
}
form {
    margin: 15px;
}